body {
    margin: 0;
    padding: 0;

    position: absolute;
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.tabs {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    border-right: 1px solid #e0e0e0;
}
.tabs .tab {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 10px 10px;
    box-sizing: border-box;

    border-bottom: 1px solid #e0e0e0;
}
.tabs .tab.active {
    background: #1e90ff;
    color: #ffffff;
}
.tabs .tab:hover {
    background: #1e90ff;
    color: #ffffff;
}

.tabs .tab .icon {
    height: 20px;
    width: 20px;

    margin-right: 10px;
}

.main {
    flex-grow: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main .header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-shrink: 0;

    width: 100%;

    padding: 10px 20px;
    box-sizing: border-box;
}

.main .header .btn {
    display: flex;
    align-items: center;

    background: #1e90ff;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;

    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.main .header .btn .btn-icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.main .content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
}

.content .item {
    width: 100%;

    padding: 10px 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    border-top: 1px solid #e0e0e0;

    overflow: hidden;
}

.content .item:hover {
    background: rgba(30, 144, 255, 0.2);
}

.content .item .detail-info {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.content .item .item-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.content .item .item-header .name-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.content .item .item-header .name-info .name {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
}

.content .item .item-header .name-info .badge-list {
    display: flex;
    align-items: center;
}

.content .item .item-header .name-info .badge-list .badge {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 12px;
}

.content .item .item-header .name-info .type {
    background: #1e90ff;
    color: #ffffff;
}

.content .item .item-header .name-info .method {
    background: #ff7f50;
    color: #ffffff;
}

.content .item .item-header .opration {
    display: flex;
    align-items: center;
}

.content .item .item-header .opration .btn {
    color: #1e90ff;
    cursor: pointer;

    display: none;
}

.content .item .item-header .opration .btn:hover {
    text-decoration: underline;
}

.content .item .url {
    width: 100%;

    color: #1e90ff;
    margin-top: 5px;
    font-size: 12px;
    line-height: 12px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer {
    width: 100%;
    height: 30px;

    padding: 0 20px;
    box-sizing: border-box;

    text-align: right;
    font-size: 14px;
    line-height: 14px;
}
