<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>下载列表</title>
        <link rel="icon" href="/images/logo.png" />
        <link rel="stylesheet" href="./download.css" />
    </head>
    <body>
        <template id="template">
            <div class="tab">
                <img src="" alt="" class="icon" />
                <div class="name"></div>
            </div>
            <div class="item">
                <div class="item-header">
                    <div class="name-info">
                        <div class="name"></div>
                        <div class="badge-list">
                            <div class="badge type"></div>
                            <div class="badge method"></div>
                        </div>
                    </div>
                    <div class="opration">
                        <div class="btn download">下载</div>
                        <div class="btn fetch">访问</div>
                    </div>
                </div>
                <div class="url"></div>
            </div>
        </template>
        <div id="container">
            <div class="tabs"></div>

            <div class="main">
                <div class="header">
                    <div class="btn reload-tab">
                        <img src="/images/reload.png" class="btn-icon" /><span>重新加载标签页</span>
                    </div>
                    <div class="btn download-all">
                        <img src="/images/download.png" class="btn-icon" /><span>全部下载</span>
                    </div>
                    <div class="btn refresh">
                        <img src="/images/refresh.png" class="btn-icon" /><span>刷新数据</span>
                    </div>
                    <div class="btn delelete">
                        <img src="/images/delete.png" class="btn-icon" /><span>删除标签页数据</span>
                    </div>
                    <div class="btn setting">
                        <img src="/images/setting.png" class="btn-icon" /><span>设置</span>
                    </div>
                </div>
                <div class="content"></div>
                <div class="footer"></div>
            </div>
        </div>
        <script src="/scripts/window.js"></script>
        <script src="/scripts/jszip.min.js"></script>
        <script src="./download.js"></script>
    </body>
</html>
